
body{
  background-image: url('img/fondo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
}

   form {
  margin: 20px auto;
  width: 80%;
  max-width: 600px;
  padding: 20px; 
  border: 1px solid #921f1f;
  border-radius: 5px;
  box-shadow: 0 0 10px #75b5e0;
  font-family: Arial, sans-serif;
  background-image: url('img/imagen.jpg');

}


.negro{
  color: black;
  font-weight: bold;
}
h2 {
  margin-top: 0;
  font-size: 24px;
  text-align: center;
}

label {
  display: block;
  margin-bottom: 10px;
  font-weight: bold;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="file"],
textarea,
select {
  width: 100%;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 16px;
  font-family: Arial, sans-serif;
  margin-bottom: 1px;
}

select option:first-child {
  color: #ccc;
}

table{
  border-collapse: collapse;
  border: 2px solid black;
  width: 100%;
}
td{
  border-collapse: collapse;
  border: 2px solid black;
}

button{
  background-color: #007bff;
  color: #fff;
  border: none;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
}

button[type="submit"]:hover {
  background-color: #0069d9;
}

